app/*.log
app/*.pot
app/*.pyc
app/__pycache__/
app/*/__pycache__
.pytest_cache
app/.pytest_cache
app/*/.pytest_cache

app/db.sqlite3
.coverage
app/.coverage

terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl